{% extends 'blog/base.html' %}
{% block title %}Blog - My Commercial Start{% endblock title %}
{% block css %}

{% endblock css %}


{% block body %}
{% load static %}
<div class="container mt-4">
    <div class="row mt-2">
        {% autoescape off %}
        {% for post in blogPost %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{post.title|slice:":35"}}...</strong>
                    <h3 class="mb-0">{{post.head0|slice:":35"}}...</h3>
                    <div class="mb-1 text-body-secondary">{{post.pub_date}}</div>
                    <p class="card-text mb-auto">
                        {{post.cHead0|slice:"3:100"}}...
                    </p>
                    <a href="blogpost/{{post.postId}}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img " width="200" height="250" src="/media/{{post.thumbnail}}"
                        role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                </div>
            </div>
            
        </div>
        {% endfor %}  
        {% endautoescape %}
    </div>

    
</div>

{% endblock body %}



{% block js %}
{% load static %}
<script src="{% static 'shop/js/showCartonPages.js' %}"></script>

{% endblock js %}